{
    email rishikeshtgit@gmail.com
}

api.hostel4u.xyz {
    reverse_proxy app:3000
    log {
        output file /var/log/caddy/access.log
        format console
    }
    tls {
        on_demand
    }
}

:80 {
    redir https://api.hostel4u.xyz permanent
}